<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mc Computer</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" integrity="" crossorigin="anonymous">
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>	
  <script src="/assets/js/angular-1-7-8/angular.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.1/angucomplete-alt.min.js"></script>
  <script src="/assets/js/auto-complete.js"></script>

     <!-- new update -->
  <script src="/assets/js/main.js" crossorigin="anonymous"></script>
  <script src="/assets/js/angular-1-7-8/angular-animate.js"></script>
  <script src="/assets/js/angular-1-7-8/angular-messages.js"></script>
  <script src="/assets/js/angular-1-7-8/angular-aria.js"></script>
  <script src="/assets/js/angular-1-7-8/angular-route.js"></script>
  
<app-root>Loading...</app-root>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
  
 
<body ng-controller="MainCtrl as main">
  <div class="container">
    <h3>Employee Book</h3>

    <p>
      <label>Emp ID</label>
      <input type="text" ng-model="main.person.empid " />
      <label>First Name</label>
      <input type="text" ng-model="main.person.firstname " />
      <label>Last Name</label>
      <input type="text " ng-model="main.person.lastname" />
      <label>Email</label>
      <input type="text " ng-model="main.person.email" />
       <label>Mobile</label>
      <input type="text " ng-model="main.person.mobile" />
      <label>Department</label>
      <input type="text" ng-model="main.person.department " />
    </p>

    <div class="row">
      <div class="col-md-7">
        <button class="btn btn-primary" ng-click="main.addClickHandler()">Save</button>
        <button class="btn btn-default" ng-click="main.resetClickHandler()">Clear Form</button>
      </div>
      <div class="col-md-5">
        <label>Search:</label>
        <input type="text" ng-model="main.search" />
      </div>
    </div>
    
    <p></p>

    <div class="row" ng-show="main.addresses">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Emp ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Department</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in main.addresses |filter:main.search ">
            <td ng-bind="item.empid "></td>
            <td ng-bind="item.firstname "></td>
            <td ng-bind="item.lastname "></td>
            <td ng-bind="item.email "></td>
            <td ng-bind="item.mobile "></td>
            <td ng-bind="item.department "></td>
            <td>
              <button class="btn btn-primary" ng-click="main.editClickHandler(item)">Edit</button>
              <button class="btn btn-danger" ng-click="main.removeClickHandler(item)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
